.App {
  text-align: center;
}

.routerNav {
  background-color: lightseagreen;
  color: silver;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks {
  list-style: none;
}

.navs {
  color: whitesmoke;
}

/* .cart {
  text-align: right;
  position: sticky;
} */

.cart {
  display: flex;
  position: sticky;
  /* justify-content: safe; */
  
  align-items: center;
  /* align-items: stretch; */
  
  border: solid;
  /* direction: rtl; */
  /* flex-direction: row; */
  width: max-content;
  margin: auto;
  /* float: right; */
  
}

.items {
  color: red;
  justify-content: flex-end;
  /* align-self: center; */
  /* flex: 1; */
  /* margin-left: 47%; */
}

.costs {  
  /* flex: 1; */
  align-self: flex-end;
  justify-content: flex-end;
}
button {
  justify-content: flex-end;
}

.cartConatiner{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.productsView {
  /* display: flex; */
  width: 20vw;
  height: 56vw;
  /* justify-content: space-evenly; */
 margin-bottom: 4px;
  margin: auto;
  /* flex-direction: column; */
}

.productsView img, .categoryView img {
  width: 83%;
  height: 65%;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.categoriesView, .categoryView {
  width: 35%;
}

.productView {
  width: 50vw;
  margin: auto;
}

.productView img {
  width: 47%;
  height: 47%;
}